@import "components/bootstrap/bootstrap";
@import "components/bootstrap/bootstrap-grid";
@import "components/bootstrap/bootstrap-reboot";
@import "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@import "extras/fonts";

body {
  background: #ffffff;
  overflow-x: hidden;
}

.container {
  @include media-breakpoint-up(lg) {
    width: 1460px;
    max-width: 100%;
  }
}
* {
  text-decoration: none !important;
}
.default-button {
  background: #ff5a00;
  color: #fff;
  padding: 10px 22px;
  border-radius: 4px;
  margin-top: 15px;
  float: left;
  transition: all 0.3s ease;

  &:hover {
    background: #fff !important;
    color:#ff5a00 !important;
    i {
      color:#ff5a00;
    }
  }
  i {
    position: relative;
    top: 1px;
    transition: all 0.3s ease;
    margin-left: 5px;
  }
}
.phones {
  flex-direction: column;
  justify-content: center !important;
  @include media-breakpoint-up(md) {
    flex-direction: row;
  }
}

.grid-sizer,
.grid-item {
  margin: 0 auto;
  width: 100%;
  padding: 5px;
  @include media-breakpoint-up(lg) {
    width: 20% !important;
  }
  @include media-breakpoint-up(md) {
    width: 33.3%;
  }
  img {
    width: 100%;
  }

}
.loader {
  text-align: center;
  font-size: 42px;
  color: #ff5a00;
}
.grid {
  display: none;
}
/* 2 columns */
.grid-item--width2 { width: 40%; }
#cookies {
  z-index: 5;
  right: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
  padding: 40px;
  display: none;
  border: 1px solid #ff5a00;
  background: #fff;
  margin: 0 auto;
}
#cookies .closee {
  top: 10px;
  right: 15px;
  width: 26px;
  height: 26px;
  position: absolute;
  cursor: pointer;
}
#cookies .closee:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#cookies .closee:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#cookies p {
  color: #595959;
  font-size: 12px;
}
#cookies .closee:after, #cookies .closee:before {
  top: -1px;
  right: 12px;
  width: 0;
  content: " ";
  height: 30px;
  display: block;
  position: absolute;
  border-right: 1px solid #ff5a00;
}
#cookies {
  @include media-breakpoint-up(md) {
    right: 40px;
    bottom: 40px;
    max-width: 420px;
  }
}
#cookies, #cookies a {
  color: #ff5a00;
}
#mobile_menu {
  position: fixed;
  top: 60px;
  width: 100%;
  background: #2d2d2d;
  z-index: 99999999;
  display: none;
  @include media-breakpoint-up(md) {
    display: none !important;
  }
  ul {
    float: left;
    width: 100%;
    list-style: none;
    padding-top: 10px;
    padding-left: 15px;
    li {
      width: 100%;
      float: left;
      a {
        float: left;
        font-size: 1.25rem;
        color: #fff;
        padding-right: 1.03125rem;
        margin-right: 1.03125rem;
        font-weight: 500;
        position: relative;
      }
    }
  }
}
#mobile_navi {
  position: fixed;
  @include media-breakpoint-up(md) {
    display: none !important;
  }
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 9999999999999;
  background: #2d2d2d;
  padding-top: 5px;
  .logo {
    margin-top: 5px;
    float: left;
  }
  .mobile_trigger {
    font-size: 40px;
    margin-top: 5px;
    color:#ff5a00;
    cursor: pointer;
    position: relative;
    z-index: 1000;
  }
}
#header {
  background: url('../images/background.png') 50% 50% / cover no-repeat;
  background-attachment: fixed;
  position: relative;
  min-height: 627px;
  @include media-breakpoint-up(md) {
    min-height: 867px;
  }
  &:after {
    width: 367px;
    height: 635px;
    background: url(../images/man.png) 50% 50%/cover no-repeat;
    bottom: 78px;
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
    }
    @include media-breakpoint-up(lg) {
      right: 20vw;
    }
    right: 6vw;
    content: '';
    position: absolute;
  }
  .context-text {
    margin-top: 0;
    padding-top: 108px;
    @include media-breakpoint-up(md) {
      margin-top: 108px;
      padding-top: 0;
    }
    p {
      font-size: 11px;
      color: #2d2d2d;
      width: 400px;
      max-width: 100%;
      line-height: 23px;
      margin-top: 10px;
      background: #fff;
      font-weight: 600;
      padding: 16px;
      @include media-breakpoint-up(lg) {
        font-size: 16px;
      }
    }
    .header-text {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      h1 {
        @include media-breakpoint-up(lg) {
          font-size: 35px;
        }
        font-size: 23px;
        text-transform: uppercase;
        font-weight: 700;
        padding-left: 30px;
        padding-right: 30px;
        background: #2d2d2d;
        float: left;
        color: #fff;
        line-height: 40px;
        padding-bottom: 2px;
        margin-bottom: 2px;
      }
    }
  }
}
#navigation {
  background: #fff;
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
  #menu {
    height: 127px;
    padding-left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    li {
      padding-right: 15px;
      padding-left: 15px;
      float: left;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease;
      background: #fff;
      cursor: pointer;
      &:first-of-type {
        margin-right: 15px;
      }
      &:not(:first-of-type):hover {
        background: #ff5a00;
        a {
            color:#fff;
        }
      }
      a {
        font-weight: 600;
        font-size: 16px;
        color: #191919;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease;
      }
    }
  }
  .top {
    height: 60px;
    width: 100%;
    background: #2d2d2d;
    &.left-links {
      padding-left: 10px;
      a, span {
        color: #fff !important;
        margin-left: 5px;
        margin-right: 15px;
        font-size: 16px;
        i {
          font-size: 16px;
          color: #fff;
        }
      }
    }
    .fb_link {
      i {
        font-size: 26px !important;
      }
    }
  }

}
.no-padding {
  padding: 0 !important;
}
.offer-gallery {
  .offer {
    border: 1px solid #f1f1f1;
    &:nth-child(2n) {
      .picture {
        text-align: right;
      }
    }
  }
  .offer-box {
    .text .text {
      max-width: 80%;
    }
    &:first-of-type {

      @include media-breakpoint-up(lg) {
        padding-right: 0;
      }
    }
    &:last-of-type {
      @include media-breakpoint-up(lg) {
        padding-left: 0;
      }
    }
  }
  h1 {
    width: 100%;
    text-align: left;
    color:#000000;
    font-size: 16px;
    font-weight: 700;
    @include media-breakpoint-up(xl) {
      font-size: 18px
    }
  }
  p {
    margin-bottom: 0;
    font-size: 12px;
    color: #000000;
    @include media-breakpoint-up(xl) {
      line-height: 17px;
    }
    line-height: 13px;
  }
  .picture {
    height: 150px;
    overflow: hidden;
    @include media-breakpoint-up(md) {
      height: inherit;
      img {
        width: 100%;
      }
    }
  }
  .offer {
    height: inherit;
    margin-bottom: 30px;
    @include media-breakpoint-up(xl) {
      margin-bottom: 0;
    }
    .text {
      padding-top: 20px;
      padding-bottom: 20px;
      @include media-breakpoint-up(xl) {
        padding: 0;
      }
    }
    @include media-breakpoint-up(xl) {
      height: 186px;
    }
    overflow: hidden;
  }
}
#offer {
  margin-top: -106px;
  margin-bottom: 78px;
  .insider {
    background: #fff;
    padding-top: 64px;
    position: relative;
    &:before {
      left: -31px;
      position: absolute;
      top: 8px;
      margin: auto;
      content:'';
      width: 31px;
      height: 130px;
      background: url('../images/shadow-left.png') 50% 50% / cover no-repeat;
    }
    &:after {
      right: -31px;
      position: absolute;
      top: 8px;
      margin: auto;
      content:'';
      width:31px;
      height: 130px;
      background: url('../images/shadow-right.png') 50% 50% / cover no-repeat;
    }

  }
}
.box-header {
  h1 {
    font-size: 34px;
    color:#2d2d2d;
    margin-top: 0;
    position: relative;
    span {
      position: relative;
      &:before {
        left: -70px;
        position: absolute;
        bottom: 0;
        top: 1px;
        margin: auto;
        content:'';
        width: 36px;
        height: 14px;
        background: url('../images/arrows_left.png') 50% 50% / cover no-repeat;
      }
      &:after {
        right: -70px;
        position: absolute;
        bottom: 0;
        top: 1px;
        margin: auto;
        content:'';
        width: 36px;
        height: 14px;
        background: url('../images/arrows_right.png') 50% 50% / cover no-repeat;
      }
    }

  }
  p {
    margin-top: 5px;
    color: #2d2d2d;
    margin-bottom: 20px;
    text-align: left;
    float: none;
    display: inline-block;
    @include media-breakpoint-up(lg) {
      font-size: 18px;
      line-height: 21px;
      width: 67%;
    }
    font-size: 12px;
    line-height: 15px;
    width: 90%;
  }
  margin-bottom: 30px;
}
#gallery {
  background: url('../images/gallery.png') 50% 50% / cover no-repeat;
  background-attachment: fixed;
  .box-header {
    margin-top: 75px;
    float: none;
    display: inline-block;
    margin-bottom: 75px;
    width: 100%;
    text-align: center;
    h1 {
      color:#fff;
    }
    p {
      color:#fff;
    }
  }
  .insider {
    width: 100%;
    background: #fff;
    padding: 30px;
    position: relative;
    margin-bottom: 25px;
    @include media-breakpoint-up(lg) {
      margin-bottom: 375px;

    }
    display: inline-block;
  }
}
#map {
  width: 100%;
 .container {
   position: relative;
   @include media-breakpoint-down(lg) {
     width: 100% !important;
     padding: 0 !important;
   }
   #left_box {
     position: static;
     z-index: 1;
     margin-top: 0;
     background: #fff;
     img {
       width: 100%;
     }
     @include media-breakpoint-up(lg) {
       position: absolute;
       margin-top: -240px;
     }

     .text_box {
       width: 100%;
       background: url(../images/map_text_bg.jpg) bottom right no-repeat #fff;
       padding: 40px;
       .inside_row {
         display: flex;
         margin-bottom: 20px;
         flex-direction: column;
         &.phone {
           b {
             @include media-breakpoint-up(lg) {
               font-size: 30px;
               font-weight: 700;
             }
             font-size: 22px;
             font-weight: 700;
           }
         }
         b {
           color:#ff5a00;
           font-size: 18px;
           font-weight: 600;
         }
         a {
           color:#ff5a00;
           @include media-breakpoint-up(lg) {
             font-size: 30px;
           }
           font-size: 20px;
           font-weight: 600;
         }
       }
     }
   }
 }
}
#map-row {
  width: 100%;
  height: 600px;
  display: none;
  @include media-breakpoint-up(lg) {
    display: block;
  }
}
#map-row-mobile {
  width: 100%;
  height: 600px;
  display: block;
  @include media-breakpoint-up(lg) {
    display: none;
  }
}
#footer {
  padding-bottom: 100px;
  padding-top: 50px;
  float: left;
  width: 100%;
  .logo {
    margin-right: 3.125rem;
    float: left;
  }
  .rights {
    float: left;
    font-size: .875rem;
    color: #595959;
    margin-top: 10px;
    a {
      color: #ff5a00;
    }
  }
}